* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    background: rgb(225, 255, 143);
    padding-bottom: 156px;
    background-repeat: no-repeat;
    background-image: url(img/Star-fon.svg);
    background-position: right;
}

.game1{
    position: absolute;
    margin-top: 69px;
    width: 35px;
    left: 156px;
    border: 1px;
}

.game2{
    position: absolute;
    margin-top: 94px;
    left: 63px;
    width: 57px;
    border: 1px;
}

.game3{
    position: absolute;
    width: 83px;
    top: 568px;
    right: 344px;
    border: 1px;  
}

.game4{
    position: absolute;
    width: 37px;
    top: 538px;
    right: 455px;
    border: 1px;  
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    width: 247px;
    height: 66px;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    width: 247px;
    height: 66px;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.btn:hover{
    color: black;
    background: white;
}

.header__title {
    font-size: 64px;
    padding-bottom: 24px;
    padding-top: 156px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-weight: 700;
    max-width: 768px; 
}

.header__text {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 48px;
    max-width: 720px;
}

.banner{
    gap: 10px;
    border: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    display: flex;
    align-items: center;
    height: 90px;

    &__text{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
        text-transform: uppercase;
        padding-right: 51px;
        padding-left: 51px;
        white-space: nowrap;
    }
}

.container {
    background: #202027;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    padding-top: 0;
    padding-bottom: 24px;
    color: #FFFFFF;
    scroll-behavior: smooth;
    max-width: 314px;
}

.container__text{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-bottom: 72px;
    color: #FFFFFF;
    max-width: 788px;
}

.for-box{
    height: 1550px;
    background-color: rgb(32, 32, 39);
    position: relative;
}

.box-game1{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    padding-top: 94px;
}

.box-game2{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-top: 24px;
}

.cart1 {
    height: 473px;
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
}

.cart2{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    height: 512px;
}

.cart3{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.0);
    transition: ls;
    height: 473px;
}

.cart4{
    background-color: #fff;
    width: 378px;
    margin-top: 36px;
    border-radius: 30px;
    height: 551px;
}

.cart5{
    background-color: #fff;
    width: 378px;
    margin-top: 40px;
    border-radius: 30px;
    height: 512px;
}

.cart6{
    background-color: #fff;
    width: 378px;
    margin-top: 36px;
    border-radius: 30px;
    height: 551px;
}

.cart1:hover{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.1);
    transition: ls;
}
.cart2:hover{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.1);
    transition: ls;
}
.cart3:hover{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.1);
    transition: ls;
}
.cart4:hover{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.1);
    transition: ls;
}
.cart5:hover{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.1);
    transition: ls;
}
.cart6:hover{
    background-color: #fff;
    width: 378px;
    border-radius: 30px;
    transform: scale(1.1);
    transition: ls;
}

.cart-img1{
    width: 378px;
}
.cart-img2{
    width: 378px;
}
.cart-img3{
    width: 378px;
}
.cart-img4{
    width: 378px;
}
.cart-img5{
    width: 378px;
}
.cart-img6{
    width: 378px;
}

.text2{
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    width: 108px;
    height: 36px;
    margin-left: 16px;
    margin-top: 8px;
    text-align: center;
}  

.text3{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 20px;
} 

.cart-box{
    margin-top: 0;
    display: flex;
    gap: 32px;
    columns: 3;
}